<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link rel="stylesheet"
href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>

{{ content }}

<script>

function openBio() {

document.getElementById("bioModal").style.display = "flex";

}

function closeBio() {

document.getElementById("bioModal").style.display = "none";

}

window.onclick = function(event) {

const modal =
document.getElementById("bioModal");

if(event.target == modal){

modal.style.display = "none";

}

}

/* ==========================
   AUTO IMAGE SLIDER
   ========================== */

document.querySelectorAll('.slider-container').forEach(slider => {

const slides = slider.querySelectorAll('img');

let current = 0;

if(slides.length > 0){

slides[0].classList.add('active');

setInterval(() => {

slides[current].classList.remove('active');

current = (current + 1) % slides.length;

slides[current].classList.add('active');

}, 3000);

}

});

</script>

</body>

</html>
